

/* Centers the forms on the middle of the page */
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em; 
}

html,body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    display:flex;
}

form {
    margin:auto;
}

/* Rounds out the corners of fieldset in "new.html" */
#NumStudents, #roomDefiner{
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em; 
}
/* centers the submit button on "new.html" */
#goNext{
    text-align: center;
}
/* increases the space between the room size input fields */
.roomData{
    margin: 15px;
}

