body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #2a2a2a;
}

.nav__link {
    display: block;
    padding: 18px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

/* CSS for About page */
.aboutcontainer {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid #4c5974;
    max-width: 800px;
    width: 100%;
    padding: 10px 25px 25px 25px;
    margin-top: 30px;
}

.contactContainer{
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid #4c5974;
    max-width: 810px;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
}


/* CSS related to student and admin login pages */
.container {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid #4c5974;
    max-width: 600px;
    width: 100%;
    /* margin: 0 auto 100px; */  
    /* border-radius: 30px; */
    text-align: center; 
    padding: 25px;
    margin-top: 30px;
}

.loginCard .button-container{
    text-align: center; 
    padding: 20px;
    
}

.button-container button{
    text-align: center; 
    padding: 10px 20px 10px;
    background: 0;    
    border: 2px solid #e3e3e3;
    font-size: 18px;
    width: 200px;
    transition: 0.3s ease-in-out;
}

.button-container :hover{ 
    /* animation for howeing over the "go" button */
    border: 2px solid #4c5974;
    
}

