/* CSS CONNECTED TO: P2HTML_finish.html  */

body{
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
    font-weight: 2 ;
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 30px ;

    box-sizing: border-box; 
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: #181818;

    z-index: auto;
    box-shadow: 0 2px 4px rgb(12 12 12 / 38%);
    /* new grid for the header */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

.backButton{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-image: url('./icons/arrow2.png'); /* Add a search icon to input */
    background-position: 1px 1px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    padding: 4px 50px 4px 20px; 
}

img{
    max-width: 40px;
    max-height: 60px;
    transform: rotate(180deg); 
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    background-color: #181818;
}

.navigation{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    background: #2a2a2a;
}

.nav__link {
    display: block;
    padding: 18px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.main-content{
    padding: 10px 20px 10px 20px;
}

.intro-container p{
    font-size: 20px;
}

/* STATUS PAGE or P2HTML_finish.html */
.medium-grid{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 3fr 2fr;
    grid-template-rows: 200px auto;
    box-sizing: border-box;
}

.intstructions{
    grid-column: 1 / 2;
    grid-row: 1 / 2 ;
}

.choices{
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
}

.questionnaire-grid-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.questionnaire-grid{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px auto;
    box-sizing: border-box;
}

.searchbar-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    /* text-align: center; */
    background-color: rgb(255, 255, 255);

    /* Rounds out the corners of fieldset */
    /* border-radius: 30px; */

    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
}

#searchbar{
    grid-column: 1 / 2;

    border-radius: 30px;
    width: 70%;/* Full-width */
    margin: 15px;
    background-image: url('./icons/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.placeholder{
    padding-inline-start: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

.quest-table-container{
    grid-column: 1 / 3;
    grid-row: 2 / 3;     
}

.quest-table{
    border-collapse: collapse; /* Collapse borders */
    width: 71.5%; /* weird percentage to allign table boarder with buttons*/ 
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

.quest-table th, .quest-table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.quest-table  tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

.quest-table-head, .quest-table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#choices-form{
    width: 400px;
}

#Save, #Delete, #Publish, #Unpublish{
    padding: 20px; 
    border: 2px solid #e3e3e3;
    color: rgb(255, 255, 255);
    background: #2a2a2a;
    transition: 0.1s ease-in-out;
    width: 100px;
    margin: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

#Save:hover, #Delete:hover, #Publish:hover, #Unpublish:hover{ 
    border: 2px solid #89a6ff;
    background: #2a2a2a;
    box-shadow: 0 6px #89a6ff;
    transform: translateY(-4px);
}

#Save:active, #Delete:active, #Publish:active, #Unpublish:active {
    border: 2px solid #e3e3e3;
    color: rgb(255, 255, 255);
    background: #2a2a2a;
    box-shadow: none;
    transform: translateY(0px);
}